body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: sans-serif;
}

/* Overlay pour clic utilisateur */
#startOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1000;
}
